{{!< main.hbs }}

{{#contentFor "body"}}
  <div class="w-100 h-100 d-flex justify-content-center align-items-center bg-muted-900">
    <div class="w-900px">
      <div class="mb-5">
        <h1 class="text-center text-purple-500 title-label">Quiztionário</h1>
        <p class="text-center subtitle-label">Selecione sua posição</p>
      </div>
      <div class="row gx-5">
        <div class="col">
          <div class="card-player p-5 rounded border selected">
            <div class="d-flex flex-column align-items-center w-100">
              <div class="player-icon w-100px h-100px d-flex justify-content-center align-items-center rounded-circle border border-4">
                <i class="fa-solid fa-user fa-3x"></i>
              </div>
              <span class="player-label fw-bold mt-2 fs-3">
                Player 1
              </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-player p-5 rounded border">
            <div class="d-flex flex-column align-items-center w-100">
              <div class="player-icon w-100px h-100px d-flex justify-content-center align-items-center rounded-circle border border-4">
                <i class="fa-solid fa-user fa-3x"></i>
              </div>
              <span class="player-label fw-bold mt-2 fs-3">
                Player 2
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center mt-5 text-white">
        <h2>
          <div class="spinner-border text-purple-500" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span>
            Aguardando...
          </span>
        </h2>
      </div>
    </div>
  </div>
{{/contentFor}}
