{{!< main.hbs }}

{{#contentFor "menu"}}
  {{#ifEquals route 'home'}}
    <a href="/" class="menu-item active">
      <i class="fa-solid fa-house me-2 fa-fw"></i>
      Início
    </a>
  {{else}}
    <a href="/" class="menu-item">
      <i class="fa-solid fa-house me-2 fa-fw"></i>
      Início
    </a>
  {{/ifEquals}}

  {{#ifEquals route 'list'}}
    <a href="/list" class="menu-item active">
      <i class="fa-solid fa-gamepad me-2 fa-fw"></i>
      Partidas
    </a>
  {{else}}
    <a href="/list" class="menu-item">
      <i class="fa-solid fa-gamepad me-2 fa-fw"></i>
      Partidas
    </a>
  {{/ifEquals}}

  {{#ifEquals route 'play'}}
    <a href="/play" class="menu-item active">
      <i class="fa-solid fa-play me-2 fa-fw"></i>
      Jogar
    </a>
  {{else}}
    <a href="/play" class="menu-item">
      <i class="fa-solid fa-play me-2 fa-fw"></i>
      Jogar
    </a>
  {{/ifEquals}}
{{/contentFor}}

{{#contentFor "body"}}
  <div>
    <h1 class="text-center text-purple-500 title-label">Quiztionário</h1>
    <h2 class="text-center subtitle-label">Teste seu conhecimento!</h1>
    <h3 class="text-center subtitle-label mt-4">802.266</h3>
  </div>
{{/contentFor}}
