{{!< main.hbs }}

{{#contentFor "body"}}
  <div class="w-100 h-100 d-flex justify-content-center align-items-center bg-muted-900">
    <div class="w-900px">
      <div class="mb-5">
        <h1 class="text-center text-purple-500 title-label">Quiztionário</h1>
        <h2 class="text-center subtitle-label">Lista de jogos</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="w-100">
            <div class="game-list">
              <div class="row gx-0 game-item">
                <div class="col d-flex justify-content-center align-items-center">
                  <div class="game-names w-100">
                    <span class="name">
                      Pedro
                    </span>
                    <span class="versus">VS</span>
                    <span class="name">
                      João
                    </span>
                  </div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                  <div class="game-started w-100">10/05/2023 às 10:00</div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                  <div class="game-status w-100">
                    <div class="status-badge">
                      <i class="fa-solid fa-check"></i>
                      Concluído
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/contentFor}}