{{!< main.hbs }}

{{#contentFor "body"}}
  <div class="w-100 h-100 d-flex justify-content-center align-items-center bg-muted-900">
    <div class="w-900px">
      <div class="mb-5">
        <h1 class="text-center text-purple-500 fw-bold fs-1">Lista de jogos</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="w-100"></div>
        </div>
      </div>
    </div>
  </div>
{{/contentFor}}