{{!< main.hbs }}

{{#contentFor "menu"}}
  {{#ifEquals route 'home'}}
    <a href="/" class="menu-item active">
      <i class="fa-solid fa-house me-2 fa-fw"></i>
      Início
    </a>
  {{else}}
    <a href="/" class="menu-item">
      <i class="fa-solid fa-house me-2 fa-fw"></i>
      Início
    </a>
  {{/ifEquals}}

  {{#ifEquals route 'list'}}
    <a href="/list" class="menu-item active">
      <i class="fa-solid fa-gamepad me-2 fa-fw"></i>
      Partidas
    </a>
  {{else}}
    <a href="/list" class="menu-item">
      <i class="fa-solid fa-gamepad me-2 fa-fw"></i>
      Partidas
    </a>
  {{/ifEquals}}

  {{#ifEquals route 'play'}}
    <a href="/play" class="menu-item active">
      <i class="fa-solid fa-play me-2 fa-fw"></i>
      Jogar
    </a>
  {{else}}
    <a href="/play" class="menu-item">
      <i class="fa-solid fa-play me-2 fa-fw"></i>
      Jogar
    </a>
  {{/ifEquals}}
{{/contentFor}}

{{#contentFor "body"}}
  <div class="mb-2">
    <h1 class="text-center text-purple-500 title-label">Quiztionário</h1>
  </div>
  <div class="row gx-3">
    <div class="col quiz_player_select" data-player="one">
      <div class="card-player">
        <div class="d-flex flex-column align-items-center w-100">
          <div class="player-icon w-100px h-100px d-flex justify-content-center align-items-center rounded-circle border border-4">
            <i class="fa-solid fa-user fa-3x"></i>
          </div>
          <span class="player-label fw-bold mt-2 fs-3">
            Player 1
          </span>
        </div>
      </div>
    </div>
    <div class="col quiz_player_select" data-player="two">
      <div class="card-player">
        <div class="d-flex flex-column align-items-center w-100">
          <div class="player-icon w-100px h-100px d-flex justify-content-center align-items-center rounded-circle border border-4">
            <i class="fa-solid fa-user fa-3x"></i>
          </div>
          <span class="player-label fw-bold mt-2 fs-3">
            Player 2
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 text-center mt-3">
    <h2 id="select-label" class="gray-label">Selecione um player</h2>
    <h2 id="quiz_room_loading" class="mb-0 spinner-blue d-none">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span>
        Aguardando...
      </span>
    </h2>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="playModalTitle">Insira seu nome para iniciar uma partida.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="playerName" class="form-label">Nome do jogador</label>
            <input type="text" class="form-control" id="playerName" aria-describedby="playerNameHelp">
            <div id="playerNameHelp" class="form-text">Insira um nome válido.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button id="quiz_modal_start" type="button" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
{{/contentFor}}

{{#contentFor "scripts"}}
  <script src="js/play.js"></script>
{{/contentFor}}
